@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
:active,
:focus {
  outline: none; }

*,
:after,
:before {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
  border: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block; }

img {
  max-width: 100%; }

html {
  margin-top: 0 !important; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  background: transparent; }

input[type='checkbox'],
input[type='email'],
input[type='number'],
input[type='password'],
input[type='radio'],
input[type='text'],
input[type='tel'],
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  padding: 0;
  margin: 0;
  resize: none; }

a {
  text-decoration: none;
  color: inherit; }

.form-check-input[type="radio"]:checked + label:after,
.form-check-input[type="radio"].with-gap:checked + label:before,
.form-check-input[type="radio"].with-gap:checked + label:after,
label.btn input[type="radio"]:checked + label:after,
label.btn input[type="radio"].with-gap:checked + label:before,
label.btn input[type="radio"].with-gap:checked + label:after {
  border-color: #B9347D; }

.form-check-input[type="radio"].with-gap:checked + label:after,
label.btn input[type="radio"].with-gap:checked + label:after {
  background-color: #B9347D; }

.md-form input:not([type]):focus:not([readonly]),
.md-form input[type="text"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="password"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="email"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="url"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="time"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="date"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="datetime"]:not(.browser-default):focus:not([readonly]),
.md-form
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="tel"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="number"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="search"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="search-md"]:focus:not([readonly]),
.md-form textarea.md-textarea:focus:not([readonly]) {
  border-color: #B9347D;
  box-shadow: 0 1px 0 0 #B9347D; }

.md-form input:not([type]):focus:not([readonly]) + label,
.md-form input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
.md-form
input[type="password"]:not(.browser-default):focus:not([readonly])
+ label,
.md-form
input[type="email"]:not(.browser-default):focus:not([readonly])
+ label,
.md-form input[type="url"]:not(.browser-default):focus:not([readonly]) + label,
.md-form input[type="time"]:not(.browser-default):focus:not([readonly]) + label,
.md-form input[type="date"]:not(.browser-default):focus:not([readonly]) + label,
.md-form
input[type="datetime"]:not(.browser-default):focus:not([readonly])
+ label,
.md-form
input[type="datetime-local"]:not(.browser-default):focus:not([readonly])
+ label,
.md-form input[type="tel"]:not(.browser-default):focus:not([readonly]) + label,
.md-form
input[type="number"]:not(.browser-default):focus:not([readonly])
+ label,
.md-form
input[type="search"]:not(.browser-default):focus:not([readonly])
+ label,
.md-form input[type="search-md"]:focus:not([readonly]) + label,
.md-form textarea.md-textarea:focus:not([readonly]) + label,
.select-wrapper > label.mdb-main-label.active {
  color: #B9347D; }

.text-primary {
  color: #B9347D !important; }

.no-input-margins .md-form {
  margin: 0; }
  .no-input-margins .md-form .form-control {
    padding: 0;
    margin: 0; }
  .no-input-margins .md-form button.mdb-autocomplete-clear {
    top: 0; }

.select-wrapper .select-dropdown {
  display: block; }

@media screen and (max-width: 991px) {
  .md-form label,
  .md-form input:not([type]):focus:not([readonly]) + label,
  .md-form input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
  .md-form
  input[type="password"]:not(.browser-default):focus:not([readonly])
  + label,
  .md-form
  input[type="email"]:not(.browser-default):focus:not([readonly])
  + label,
  .md-form input[type="url"]:not(.browser-default):focus:not([readonly]) + label,
  .md-form input[type="time"]:not(.browser-default):focus:not([readonly]) + label,
  .md-form input[type="date"]:not(.browser-default):focus:not([readonly]) + label,
  .md-form
  input[type="datetime"]:not(.browser-default):focus:not([readonly])
  + label,
  .md-form
  input[type="datetime-local"]:not(.browser-default):focus:not([readonly])
  + label,
  .md-form input[type="tel"]:not(.browser-default):focus:not([readonly]) + label,
  .md-form
  input[type="number"]:not(.browser-default):focus:not([readonly])
  + label,
  .md-form
  input[type="search"]:not(.browser-default):focus:not([readonly])
  + label,
  .md-form input[type="search-md"]:focus:not([readonly]) + label,
  .md-form textarea.md-textarea:focus:not([readonly]) + label,
  .select-wrapper > label.mdb-main-label.active,
  .form-check-input[type="radio"]:not(:checked) + label, .form-check-input[type="radio"]:checked + label, label.btn input[type="radio"]:not(:checked) + label, label.btn input[type="radio"]:checked + label {
    font-size: .875rem; } }
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  opacity: 1;
  background-color: #E6E6E6; }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next,
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  transform: scale(0.8); }

.swiper-pagination-bullet-active {
  background-color: #999999; }

.swiper-pagination-fraction, .swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 0; }

.swiper-align-center .swiper-pagination-fraction, .swiper-pagination-custom,
.swiper-align-center > .swiper-pagination-bullets {
  bottom: 24px; }

.swiper-fade .swiper-pagination-fraction, .swiper-pagination-custom,
.swiper-fade > .swiper-pagination-bullets {
  bottom: 0px; }

.swiper-align-center .swiper-wrapper {
  align-items: center; }

.swiper-button-prev,
.swiper-button-next {
  width: 24px;
  height: 24px; }
  @media screen and (min-width: 992px) {
    .swiper-button-prev,
    .swiper-button-next {
      width: 48px;
      height: 48px; } }

.swiper-button-prev:after,
.swiper-button-next:after {
  content: '';
  width: 8px;
  height: 12px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../assets/img/icons-new-design/arrow--short--left--gray.svg");
  background-size: contain; }
  @media screen and (min-width: 992px) {
    .swiper-button-prev:after,
    .swiper-button-next:after {
      width: 15px;
      height: 24px; } }

.swiper-button-next:after {
  transform: translate(-50%, -50%) rotate(180deg); }

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  left: 0; }

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  right: 0; }

.swiper-fade .swiper-slide {
  opacity: 0.6;
  transform: scale(0.94);
  transition: opacity .3s ease-in-out, transform .3s ease-in-out; }
.swiper-fade .swiper-slide-active {
  opacity: 1;
  transform: scale(1); }

body {
  font-family: 'Inter', sans-serif !important; }

/*# sourceMappingURL=App.css.map */
