/* Global styles */
body {
  background-color: #f3f6f8;
}

/* Ant Design Button Customizations */
:root {
  --btn-primary-color: #7BCADE;
  --btn-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  --btn-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
}

.App {
  text-align: center;
}

#usercentrics-button {
  display: none;
}

.ant-btn-primary,
.ant-btn:active,
.ant-btn:focus {
  color: #fff;
  background-color: var(--btn-primary-color);
  border-color: var(--btn-primary-color);
  text-shadow: var(--btn-text-shadow);
  box-shadow: var(--btn-shadow);
}

.ant-btn:hover {
  border: solid 1px var(--btn-primary-color);
}

/* Ant Design Slider Customizations */
.ant-slider-handle,
.ant-slider-track,
.ant-slider-dot-active,
.ant-slider:hover .ant-slider-track,
.ant-slider:hover .ant-slider-handle,
.ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open),
.ant-slider-handle-click-focused {
  border-color: var(--btn-primary-color);
}

.ant-slider-handle {
  border: solid 2px var(--btn-primary-color);
}

/* Other styles */
.devicon-size {
  font-size: 1.5rem;
  padding-top: 3px;
}

.b {
  width: 30px;
}

/* Scrollbar Customizations */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f3f6f8;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
