@import '../styles/abstracts/_colors';
@import '../styles/abstracts/_breakpoints';

.BrandsFilterBar {
    background: #FFFFFF;
    margin-top: 85px;
    padding: 50px 0;
    
    &_description {
        font-size: .75rem;
        line-height: 180%;
        color: $dove-gray;
        margin-top: 4px;
    }

    &_mobileFilters {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
    }

    &_mobileFiltersItem {
        margin-right: 24px;
        margin-bottom: 24px;

        &:last-child {
            margin-right: 0;
        }
    }

    &_desktopFilters {
        display: none;
        margin-top: 32px;
        justify-content: space-between;
        align-items: flex-start;
    }

    &_desktopFiltersList {
        width: 77%;
    }

    &_filtersItem {
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &_listItem {
            margin-right: 16px;

            &:last-child {
                margin-right: 0;
            }
        }
        
        &:last-child {
            margin-bottom: 0;
        }
        .filtersItem {
            &_icon {
                display: block;
            }
            &_name {
                width: 93px;
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 0.875rem;
                line-height: 150%;
                text-align: center;
                color: $mine-shaft;
                margin-right: 34px;
            }
            &_list {
                display: flex;
                align-items: center;
            }
            &_listItem {
                margin-right: 16px;

                &:last-child {
                    margin-right: 0;
                }
            }
            &_seemore {
                width: 32px;
                height: 8px;
                display: block;
                cursor: pointer;
                position: relative;
                span {
                    display: block;
                    margin: auto;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: $medium-red-violet;
                    &::before,
                    &::after {
                        content: '';
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background-color: $medium-red-violet;
                        position: absolute;
                        top: 0;
                    }
                    &::before {
                        left: 0;
                    }
                    &::after {
                        right: 0;
                    }
                }
            }
        }
    }

    &_moreFiltersBtn {
        display: flex;
        align-items: center;
        padding: 19px 26px;
        color: $mine-shaft;
        font-size: .75rem;
        line-height: 150%;
        font-weight: 700;
        text-align: center;
        background: #FFFFFF;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
        border-radius: 54px;
        cursor: pointer;

        img {
            margin-left: 24px;
            display: block;
        }
    }

    @media screen and (min-width: $breakpoint-md) {
        margin-top: 110px;
        padding: 32px 0;
        border-radius: 0 0 20px 20px;

        &_description {
            font-size: 1.125rem;
            margin-top: 12px;
        }

        &_mobileFilters {
            display: none;
        }

        &_desktopFilters {
            display: flex;
        }
    }
}

.filterPopupBtns {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
}

.filterPopupBtn {
    padding: 12px 32px;
    font-size: .75rem;
    font-weight: 700;
    line-height: 150%;
    padding: 16px 24px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 54px;
    color: $mine-shaft;
    text-align: center;
    cursor: pointer;

    &:last-child {
        margin-right: 0;
    }

    img {
        margin-right: 16px;
        max-width: 24px;
    }
    
    &__withIcon {
        display: flex;
        align-items: center;
    }

    &__selected {
        background: #FFE0F1;
        color: #B9347D;
    }

    @media screen and (min-width: $breakpoint-md) {
        margin-right: 16px;
        margin-bottom: 16px;
        flex: 1 0 0;
        justify-content: center;
    }
}

.filterPopupRow {
    margin-bottom: 48px;
}

.filterPopupSliderInput {
    margin-top: 82px;
}

.filterPopupBottom {
    margin-top: 108px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.filterPopupTop {
    padding-bottom: 24px;
    border-bottom: 1px solid #F7F7F7;
}

.filterPopupMobileSlider {
    margin-top: 85px;
}

.filterPopupMobileBottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 40px 24px;
    background-color: #fff;
    
    button {
        width: 100%;
    }
}

.filterPopupMobileExperience {
    margin-top: 24px;
}

.filterPopupMobileExperienceItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    img {
        margin-right: 20px;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.filterPopupMobileButtons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;

    button {
        margin-right: 12px;
        margin-bottom: 12px;
        flex: 0 1 1;
    }
}