@import '../styles/abstracts/_colors';
@import '../styles/abstracts/_breakpoints';

.Text {
    font-size: .75rem;
    line-height: 160%;
    color: $mine-shaft;

    &_1 {
        font-weight: 600;
    }

    &_2 {
        font-weight: 400;
    }

    &_3 {
        font-size: .625rem;
    }

    @media screen and (min-width: $breakpoint-md) {
        font-size: .875rem;
        
        &_1,
        &_2 {
            font-weight: 500;
        }

        &_3 {
            font-size: .875rem;
            font-weight: 500;
        }
    }
}
